*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.titulo{
    height: auto;
}
.ingrese{
    height: 30px;
    width: 300px;
}
.resultado{
    background-color: white;
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    background-color: beige;
    border-radius: 15px;
    height: 30px;
    width: 100px;
}